html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html *,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.app__map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 300px;
  left: 0;
}

.app__list {
  top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  -webkit-box-shadow: -8px 0px 18px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0px 18px -5px rgba(0, 0, 0, 0.5);
}

.app-list {
  padding: 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-list__head {
  text-align: center;
  font: 300 30px Roboto;
  margin-bottom: 20px;
}

.app-list__body {
  overflow-y: auto;
  max-height: 100%;
}

.app-list-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-list-person__name {
  width: 100%;
  padding: 6px 0;
  font: 500 14px Roboto;
}

.app-list-person__count {
  padding: 6px 0;
  font: 500 14px Roboto;
  margin-right: 20px;
}

.app-list-person:hover {
  background: #dbdbdb;
}

.app-list-person_head .app-list-person__name {
  width: 75%;
}

.app-list-person_head .app-list-person__count {
  margin-right: 0;
}

